@font-face {
  font-family: 'Circular-B';
  src: url('fonts/Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular-M';
  src: url('fonts/Meidum.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular-M-I';
  src: url('fonts/MeidumItalic.ttf') format('truetype');
}

:root {
  font-family: 'Circular-M', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
